.OrderSummary {
    text-align: start;
}
.OrderSummary .Quantity {
    border: 1px solid;
    padding: 0 10px;
    margin: 10px;
    background: #eee;
    font-weight: bold;
    display: inline-block;
}
.OrderSummary ul {
    list-style: none;
    font-size: 14px;
    font-variant-caps: petite-caps;
}
.OrderSummary ul li::before {
    content: "✅";
    display: inline-block;
    margin-right: 0.2rem;
}

.OrderSummary ul ul li::before {
    content: "📌";
}
.OrderSummary ul ul ul li::before {
    content: "🤷‍♀️";
}