.Error {
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin: 1rem 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.Blog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background: #B0BEC5;
}

.Blog li {
    display: inline-block;
    margin: 20px;
}

.Blog a {
    text-decoration: none;
    color: black;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active {
    color: #fa923f;
}

.my-active{
    color: #f8d7da;
    text-decoration: underline;
    text-shadow: 1em #fa923f;
}